<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="user-scalable=no, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, width=device-width"/>
		<title>Entreprise de rénovation à Nice | JPS Rénovation</title>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolcore/vendor/Adipoli/css/adipoli.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolcore/vendor/fancybox/source/jquery.fancybox.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/sonatacore/vendor/components-font-awesome/css/font-awesome.min.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolcore/css/effects.css')}}" type="text/css" media="all"/>

		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolcore/vendor/bootstrap/dist/css/bootstrap.min.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolbandeau/css/bandeau.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolmenu/css/horizontal.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolmenu/css/creative-link-effect/init.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolmenu/css/creative-link-effect/13.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolcore/vendor/Camera.slideshow_1.4.0/css/camera.css')}}" type="text/css" media="all"/>

		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolcore/css/style.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('assets/css/animationsc2f5.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('assets/css/88546c2f5.css')}}" type="text/css" media="all"/>

		<link rel="icon" type="image/x-icon" href="favicon_localfr.ico"/>
		<meta lang="fr"/>

		<meta name="description" content="Notre entreprise de rénovation dans les Alpes-Maritimes est spécialisée dans la rénovation et réalisation de tous corps d’état. Notre équipe met tout en œuvre pour satisfaire parfaitement vos besoins et vos demandes.">
		<meta name="google-site-verification" content="X9q5_PgZYzzgSP7Lwo2rU9JAUDpL7vN67oq-I-uiXn0"/>

	</head>
	<body>
		<div id="main-frame">
			<main id="wt-container-instance-4214993">
				<div class="col-md-12 wt-container-1181495" id="wt-container-instance-4214996">
					<div class="col-md-2 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4214998">
						<img alt="" src="{{asset('prod/webtool/userfiles/24083/Logo.png')}}" style="max-width: 200px; width: 100%;"/>
					</div>
					<div class="col-md-10 col-md-offset-0 wt-container-1194269" id="wt-container-instance-4253349">
						<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4253350">
							<a class="inherit-links" href="{{path('contact')}}"><img alt="" hover-src="{{asset('prod/webtool/userfiles/24083/Devis-gratuit1.1.png')}}" onmouseout="this.src='{{asset('assets/userfiles/24083/Devis-gratuit.png')}}'" onmouseover="this.src='{{asset('assets/userfiles/24083/Devis-gratuit1.1.png')}}'" src="{{asset('assets/userfiles/24083/Devis-gratuit.png')}}" style="max-width: 200px; width: 100%;"/></a>
						</article>
						<article class="col-md-6 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4253352">
							<a class="inherit-links" href="{{path('contact')}}"><img alt="" hover-src="{{asset('assets/userfiles/24083/Rappel-gratuit1.1.png')}}" onmouseout="this.src='{{asset('assets/userfiles/24083/Rappel-gratuit1.1.png')}}'" onmouseover="this.src='{{asset('assets/userfiles/24083/Rappel-gratuit1.1.png')}}'" src="{{asset('assets/userfiles/24083/Rappel-gratuit.png')}}" style="max-width: 200px; width: 100%;"/></a>
						</article>
					</div>
					<div class="col-md-10 col-md-offset-0 wt-container-1194268" id="wt-container-instance-4253344">
						<article class="col-md-4 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4253345">
							<div>
								<p>
									<span class="fa fa-map-marker" style="color:rgb(199, 199, 199);font-size:20px;"></span>&nbsp;Si&egrave;ge social : 34 Avenue cap de croix -&nbsp;<span style="color: inherit; background-color: inherit;">06100 Nice&nbsp;</span>
								</p>

								<p>
									<span class="fa fa-map-marker" style="color:rgb(199, 199, 199);font-size:20px;"></span>&nbsp;Showroom : 8 rue Rancher 06000 Nice (Cimiez)</p>
							</div>
						</article>
						<article class="col-md-2 col-md-offset-0 wt-container-1181496" id="wt-container-instance-12811751">
							<div>
								<p>
									<span class="fa fa-phone" style="color:rgb(199, 199, 199);font-size:19px;"></span>&nbsp;<a class="inherit-links" href="tel:0758426207">07 58 42 62 07</a>
								</p>
							</div>
						</article>
						<article class="col-md-2 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4253346">
							<div>
								<p>
									<span class="fa fa-mobile-phone" style="color:rgb(199, 199, 199);font-size:20px;"></span>&nbsp;<a class="inherit-links" href="tel:0661565736">06 61 56 57 36</a>
								</p>
							</div>
						</article>
						<article class="col-md-2 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4253347">
							<div>
								<p>
									<span class="fa fa-phone" style="color:rgb(199, 199, 199);font-size:19px;"></span>&nbsp;<a class="inherit-links" href="tel:0982338614">09 82 33 86 14</a>
								</p>
							</div>
						</article>
						<article class="col-md-2 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4253348">
							<span class="fa fa-envelope" style="color:rgb(199, 199, 199);font-size:19px;"></span>&nbsp;<a class="inherit-links" href="mailto:contact@jpsrenovation06.fr ">Contactez-moi</a>
						</article>
					</div>
				</div>
	
				<div class="col-md-12 col-md-offset-0 wt-container-1181497" id="wt-container-instance-4214999">
					<nav id="menu-block-configuration-14912" class="menu horizontal cl-effect cl-effect-13">
						<ul>
							<li class="menu-mobile">
								<input type="checkbox" id="menu-14912"/>
								<label for="menu-14912">
									<a>
										<span data-hover="Menu" class="menu-label">Menu</span>
									</a>
								</label>

								<ul class="root">
									<li>
										<a class="active" href="{{path('index')}}" target="">
											<span data-hover="Qui sommes-nous ?">Qui sommes-nous ?</span>
										</a>

									</li>
									<li>
										<a href="{{path('prestations')}}" target="">
											<span data-hover="Prestations">Prestations</span>
										</a>

									</li>
									<li>
										<a href="{{path('electricite')}}" target="">
											<span data-hover="Électricité  et plomberie">Électricité  et plomberie</span>
										</a>

									</li>
									<li>
										<a href="{{path('maconnerie')}}" target="">
											<span data-hover="Maçonnerie">Maçonnerie</span>
										</a>

									</li>
									<li>
										<a href="{{path('chauffage')}}" target="">
											<span data-hover="Chauffage et ventilation">Chauffage et ventilation</span>
										</a>

									</li>
									<li>
										<a href="{{path('peinture')}}" target="">
											<span data-hover="Peinture, plâtrerie et cloisonnement">Peinture, plâtrerie et cloisonnement</span>
										</a>

									</li>
									<li>
										<a href="{{path('carrelage')}}" target="">
											<span data-hover="Carrelage et parquet">Carrelage et parquet</span>
										</a>

									</li>
									<li>
										<a href="{{path('menuiserie')}}" target="">
											<span data-hover="Menuiserie, placards et aménagement">Menuiserie, placards et aménagement</span>
										</a>

									</li>
									<li>
										<a href="{{path('isolation')}}" target="">
											<span data-hover="Isolation">Isolation</span>
										</a>

									</li>
									<li>
										<a href="{{path('galerie')}}" target="">
											<span data-hover="Galerie photos">Galerie photos</span>
										</a>

									</li>
									<li>
										<a href="{{path('contact')}}" target="">
											<span data-hover="Contact">Contact</span>
										</a>

									</li>
								</ul>
							</li>
						</ul>
					</nav>

				</div>
				{% block main %}{% endblock %}

				<div class="col-md-12 wt-container-1181499" id="wt-container-instance-4215001">
					<div class="col-md-12 col-md-offset-0 wt-container-1181500" id="wt-container-instance-4215002">
						<div class="col-md-12 wt-container-1181507" id="wt-container-instance-4215009">
							<div class="col-md-12 col-md-offset-0 wt-container-1194318" id="wt-container-instance-4253520">
								<article class="col-md-12 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4253620">
									<img alt="" src="{{asset('prod/webtool/userfiles/24083/Logo.png')}}" style="max-width: 150px; width: 100%;"/>
									<article class="col-md-3 col-md-offset-9 wt-container-1181496" id="wt-container-instance-4253351">
										<img alt="" src="{{asset('prod/webtool/userfiles/24083/Garantie-decennale.png')}}" style="max-width: 100px; width: 100%;"/>
									</article>
								</article>
								<article class="col-md-4 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4253518">
									<div>
										<p>
											<span class="fa fa-phone" style="color:rgb(199, 199, 199);font-size:19px;"></span>&nbsp;<a class="inherit-links" href="tel:0758426207">07 58 42 62 07</a>
										</p>
									</div>
								</article>
								<article class="col-md-4 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4253516">
									<div>
										<p>
											<span class="fa fa-map-marker" style="color:rgb(199, 199, 199);font-size:20px;"></span>&nbsp;34 Avenue cap de croix -&nbsp;<span style="color: inherit; background-color: inherit;">06100 Nice&nbsp;( Cimiez )</span>
										</p>
									</div>
								</article>
								<article class="col-md-4 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4253517">
									<div>
										<p>
											<span class="fa fa-mobile-phone" style="color:rgb(199, 199, 199);font-size:20px;"></span>&nbsp;<a class="inherit-links" href="tel:0661565736">06 61 56 57 36</a>
										</p>
									</div>
								</article>
								<article class="col-md-12 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4253519">
									<a class="inherit-links" href="https://www.facebook.com/jpsrenovation/" target="_blank">
										<span class="fa fa-facebook-square" style="color:rgb(199, 199, 199);font-size:25px;"></span>
									</a>&nbsp;&nbsp;<a class="inherit-links" href="https://theinsta-stalker.com/instagram/jps_renovations" target="_blank">
										<span class="fa fa-instagram" style="color:rgb(199, 199, 199);font-size:25px;"></span>
									</a>
								</article>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-md-offset-0 wt-container-1181501" id="wt-container-instance-4215003">
						<div class="col-md-3 col-md-offset-0 wt-container-1181502" id="wt-container-instance-4215004">
							<a href="{{path('mentions')}}" class="block-link" target="_self" rel="nofollow">Mentions Légales</a>
						</div>
						<div class="col-md-3 col-md-offset-0 wt-container-1181503" id="wt-container-instance-4215005">
							<a href="{{path('credits')}}" class="block-link" target="_self" rel="nofollow">Crédits Photos</a>
						</div>

					</div>
				</div>
			</main>
		</div>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/vendor/jquery/dist/jquery.min.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/js/commonLib.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/vendor/jquery.easing/js/jquery.easing.min.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolalbum/js/fancybox-init.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/vendor/Camera.slideshow_1.4.0/js/camera.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/js/cookieManager.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/vendor/Adipoli/js/jquery.adipoli.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/vendor/fancybox/source/jquery.fancybox.pack.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/js/effects.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/js/animation.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/js/didomiCookie.js')}}"></script>
		<script type="text/javascript" src="{{asset('assets/js/88546.js')}}"></script>

	</body>

</html>
