<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="user-scalable=no, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, width=device-width"/>
        <title>Entreprise de rénovation à Nice | JPS Rénovation</title>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolcore/vendor/Adipoli/css/adipoli.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolcore/vendor/fancybox/source/jquery.fancybox.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/sonatacore/vendor/components-font-awesome/css/font-awesome.min.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolcore/css/effects.css')}}" type="text/css" media="all"/>

		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolcore/vendor/bootstrap/dist/css/bootstrap.min.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolbandeau/css/bandeau.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolmenu/css/horizontal.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolmenu/css/creative-link-effect/init.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolmenu/css/creative-link-effect/13.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolcore/vendor/Camera.slideshow_1.4.0/css/camera.css')}}" type="text/css" media="all"/>

		<link rel="stylesheet" href="{{asset('prod/webtool/bundles/webtoolcore/css/style.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('assets/css/animationsc2f5.css')}}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{asset('assets/css/88546c2f5.css')}}" type="text/css" media="all"/>

		<link rel="icon" type="image/x-icon" href="favicon_localfr.ico"/>
		<meta lang="fr"/>

		<meta name="description" content="Notre entreprise de rénovation dans les Alpes-Maritimes est spécialisée dans la rénovation et réalisation de tous corps d’état. Notre équipe met tout en œuvre pour satisfaire parfaitement vos besoins et vos demandes.">
		<meta name="google-site-verification" content="X9q5_PgZYzzgSP7Lwo2rU9JAUDpL7vN67oq-I-uiXn0"/>

	</head>
	<body>
		{% block main %}
        
        {% endblock %}
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/vendor/jquery/dist/jquery.min.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/js/commonLib.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/vendor/jquery.easing/js/jquery.easing.min.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolalbum/js/fancybox-init.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/vendor/Camera.slideshow_1.4.0/js/camera.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/js/cookieManager.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/vendor/Adipoli/js/jquery.adipoli.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/vendor/fancybox/source/jquery.fancybox.pack.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/js/effects.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/js/animation.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/webtool/bundles/webtoolcore/js/didomiCookie.js')}}"></script>
		<script type="text/javascript" src="{{asset('prod/js/88546.js')}}"></script>

	</body>

</html>
