{% extends "base.html.twig" %}

{% block main %}
				<div class="col-md-12 wt-container-1181498" id="wt-container-instance-4215000">
					<div class="col-md-12 wt-container-1181506" id="wt-container-instance-4215008">
						<h1 class="col-md-12 wt-container-1194422" id="wt-container-instance-4253918">
							JPS R&eacute;novation, artisans multiservices &agrave; Nice
						</h1>
						<h2 class="col-md-12 wt-container-1194423" id="wt-container-instance-4253919">
							Une &eacute;quipe de professionnels &agrave; votre disposition dans les Alpes-Maritimes
						</h2>
						<article class="col-md-12 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4253920">
							<p>Fond&eacute;e en 1983 par Jean Paul Soubeyroux, l&rsquo;entreprise
								<strong>JPS R&eacute;novation</strong>
								vous accompagne en
								<strong>France</strong>,
								<strong>Monaco</strong>
								et
								<strong>Italie</strong>
								en vous apportant un service et des conseils personnalis&eacute;s.</p>

							<p>Quel que soit votre projet, des minis travaux &agrave; la r&eacute;novation g&eacute;n&eacute;rale nous proposons des solutions pour tous !</p>

							<p>
								<strong>JPS R&eacute;novation</strong>
								<strong>&agrave; Nice
								</strong>cerne vos besoins et y r&eacute;pond parfaitement gr&acirc;ce &agrave; une analyse personnalis&eacute;e.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

							<p>Notre &eacute;quipe se tient &agrave; votre disposition pour la r&eacute;alisation de tous vos travaux en neuf et en r&eacute;novation.</p>

							<p>Soucieux de votre satisfaction, nous apportons une attention particuli&egrave;re &agrave; la qualit&eacute; de nos livrables.</p>

							<p>Nous effectuons une &eacute;tude compl&egrave;te de votre projet et nous vous conseillons&nbsp;lors de votre&nbsp;choix.</p>

							<p>Notre &eacute;quipe est en mesure d&rsquo;intervenir sur tous types de chantiers et vous garantissent des interventions rapides et efficaces.</p>
						</article>
						<div class="col-md-12 wt-container-1195560" id="wt-container-instance-4257459">
							<article class="col-md-3 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4257460">
								<p>
									<a class="inherit-links" href="{{path('electricite')}}"><img alt="" class="float-shadow" src="{{asset('prod/webtool/userfiles/24083/Vig1.png')}}" style="max-width: 150px; width: 100%;"/></a>
								</p>

								<p>
									<a class="inherit-links" href="{{path('electricite')}}">&Eacute;lectricit&eacute;&nbsp; et plomberie</a>
								</p>
							</article>
							<article class="col-md-3 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4257461">
								<p>
									<a class="inherit-links" href="{{path('maconnerie')}}"><img alt="" class="float-shadow" src="{{asset('prod/webtool/userfiles/24083/Vig2.png')}}" style="max-width: 150px; width: 100%;"/></a>
								</p>

								<p>
									<a class="inherit-links" href="{{path('maconnerie')}}">Ma&ccedil;onnerie</a>
								</p>
							</article>
							<article class="col-md-3 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4257462">
								<p>
									<a class="inherit-links" href="{{path('chauffage')}}"><img alt="" class="float-shadow" src="{{asset('prod/webtool/userfiles/24083/Vig3.png')}}" style="max-width: 150px; width: 100%;"/></a>
								</p>

								<p>
									<a class="inherit-links" href="{{path('chauffage')}}">Chauffage et ventilation</a>
								</p>
							</article>
							<article class="col-md-3 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4257463">
								<p>
									<a class="inherit-links" href="{{path('peinture')}}"><img alt="" class="float-shadow" src="{{asset('prod/webtool/userfiles/24083/Vig4.png')}}" style="max-width: 150px; width: 100%;"/></a>
								</p>

								<p>
									<a class="inherit-links" href="{{path('peinture')}}">Peinture, pl&acirc;trerie et cloisonnement</a>
								</p>
							</article>
						</div>
						<div class="col-md-12 wt-container-1195561" id="wt-container-instance-4257464">
							<article class="col-md-3 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4257465">
								<p>
									<a class="inherit-links" href="{{path('carrelage')}}"><img alt="" class="float-shadow" src="{{asset('prod/webtool/userfiles/24083/Vig5.png')}}" style="max-width: 150px; width: 100%;"/></a>
								</p>

								<p>
									<a class="inherit-links" href="{{path('carrelage')}}">Carrelage et parquet</a>
								</p>
							</article>
							<article class="col-md-3 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4257466">
								<p>
									<a class="inherit-links" href="{{path('menuiserie')}}"><img alt="" class="float-shadow" src="{{asset('prod/webtool/userfiles/24083/Vig6.png')}}" style="max-width: 150px; width: 100%;"/></a>
								</p>

								<p>
									<a class="inherit-links" href="{{path('menuiserie')}}">Menuiserie, placards et am&eacute;nagement</a>
								</p>
							</article>
							<article class="col-md-3 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4257467">
								<p>
									<a class="inherit-links" href="{{path('isolation')}}"><img alt="" class="float-shadow" src="{{asset('prod/webtool/userfiles/24083/Vig7.png')}}" style="max-width: 150px; width: 100%;"/></a>
								</p>

								<p>
									<a class="inherit-links" href="{{path('isolation')}}">Isolation</a>
								</p>
							</article>
							<article class="col-md-3 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4257468">
								<p>
									<a class="inherit-links" href="{{path('galerie')}}"><img alt="" class="float-shadow" src="{{asset('prod/webtool/userfiles/24083/Vig8.png')}}" style="max-width: 150px; width: 100%;"/></a>
								</p>

								<p>
									<a class="inherit-links" href="{{path('galerie')}}">Galerie photos</a>
								</p>
							</article>
						</div>
						<div class="col-md-12 wt-container-1195562" id="wt-container-instance-4257469">
							<div class="col-md-12 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4257470">

								<div id="album-block-configuration-169317" class="album-block-configuration">

									<div class="wt-gallery-picture-wrapper pull-left text-center" data-display-mode="default">
										<a href="{{asset('prod/webtool/userfiles/24083/JPS-R%c3%83%c2%a9novation%2c-artisans-multiservices-%c3%83%c2%a0-Nice.jpg')}}" class="fancybox inner-zoom-container" rel="abc-169317" data-link="/picture/1360933">
											<img src="{{asset('prod/webtool/media/cache/tmb_gallery_option/rc/TM5NoxSR/userfiles/24083/JPS-R%c3%a9novation%2c-artisans-multiservices-%c3%a0-Nice.jpg')}}" class="inner-zoom"/>
										</a>
									</div>

									<div class="wt-gallery-picture-wrapper pull-left text-center" data-display-mode="default">
										<a href="{{asset('prod/webtool/userfiles/24083/JPS-R%c3%83%c2%a9novation%2c-artisans-multiservices-%c3%83%c2%a0-Nice-1.1.jpg')}}" class="fancybox inner-zoom-container" rel="abc-169317" data-link="/picture/1360934">
											<img src="{{asset('prod/webtool/media/cache/tmb_gallery_option/rc/NPNWtUSL/userfiles/24083/JPS-R%c3%a9novation%2c-artisans-multiservices-%c3%a0-Nice-1.1.jpg')}}" class="inner-zoom"/>
										</a>
									</div>

									<div class="wt-gallery-picture-wrapper pull-left text-center" data-display-mode="default">
										<a href="{{asset('prod/webtool/userfiles/24083/JPS-R%c3%83%c2%a9novation%2c-artisans-multiservices-%c3%83%c2%a0-Nice-1.4.jpg')}}" class="fancybox inner-zoom-container" rel="abc-169317" data-link="/picture/1360935">
											<img src="{{asset('prod/webtool/media/cache/tmb_gallery_option/rc/KhLVD3Sy/userfiles/24083/JPS-R%c3%a9novation%2c-artisans-multiservices-%c3%a0-Nice-1.4.jpg')}}" class="inner-zoom"/>

										</a>
									</div>

									<div class="wt-gallery-picture-wrapper pull-left text-center" data-display-mode="default">
										<a href="{{asset('prod/webtool/userfiles/24083/JPS-R%c3%83%c2%a9novation%2c-artisans-multiservices-%c3%83%c2%a0-Nice-1.3.jpg')}}" class="fancybox inner-zoom-container" rel="abc-169317" data-link="/picture/1360936">
											<img src="{{asset('prod/webtool/media/cache/tmb_gallery_option/rc/ydanSuKM/userfiles/24083/JPS-R%c3%a9novation%2c-artisans-multiservices-%c3%a0-Nice-1.3.jpg')}}" class="inner-zoom"/>
										</a>
									</div>
								</div>

							</div>
						</div>
						<div class="col-md-12 wt-container-1195563" id="wt-container-instance-4257471">
							<div class="col-md-12 wt-container-1195564" id="wt-container-instance-4257472">
								<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4253940">
									Notre &eacute;quipe
								</h3>
								<article class="col-md-12 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4257473">
									<p>L&rsquo;&eacute;quipe dirigeante est compos&eacute;e de :</p>

									<p>Jean Paul Soubeyroux, Pr&eacute;sident d&rsquo;honneur, Conseils Techniques</p>

									<p>Chaker Landolsi, G&eacute;rant - Directeur de Travaux</p>

									<p>Valerie Soubeyroux, Directrice Administrative &ndash; gestion</p>
								</article>
							</div>
						</div>
						<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4254013">
							Les services de JPS R&eacute;novation
						</h3>
						<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254014">
							<p>Nous vous accompagnons&nbsp;dans vos projets du b&acirc;timent en int&eacute;rieur comme en ext&eacute;rieur.</p>

							<p>
								<strong>JPS R&eacute;novation
								</strong>vous propose une diversit&eacute; de prestations de grande qualit&eacute;, &agrave; savoir&nbsp;:</p>
						</article>
						<div class="col-md-8 col-md-offset-2 wt-container-1194431" id="wt-container-instance-4253942">
							<div class="col-md-6 col-md-offset-0 wt-container-1194432" id="wt-container-instance-4253943">
								<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4253944">
									<ul>
										<li><a class="inherit-links" href="{{path('electricite')}}"><span style="color:#ffffff;"><strong><u>&Eacute;lectricit&eacute;&nbsp; et plomberie</u></strong></span></a></li>
										<li><a class="inherit-links" href="{{path('maconnerie')}}"><span style="color:#ffffff;"><strong><u>Ma&ccedil;onnerie</u></strong></span></a></li>
										<li><a class="inherit-links" href="{{path('chauffage')}}"><span style="color:#ffffff;"><strong><u>Chauffage et ventilation</u></strong></span></a></li>
										<li><a class="inherit-links" href="{{path('peinture')}}"><span style="color:#ffffff;"><strong><u>Peinture, pl&acirc;trerie et cloisonnement</u></strong></span></a></li>
										<li><a class="inherit-links" href="{{path('carrelage')}}"><span style="color:#ffffff;"><strong><u>Carrelage et parquet</u></strong></span></a></li>
									</ul>
								</article>
							</div>
							<div class="col-md-6 col-md-offset-0 wt-container-1194433" id="wt-container-instance-4253945">
								<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4253946">
									<ul>
										<li>
											<a class="inherit-links" href="{{path('menuiserie')}}">
												<span style="color:null;">
													<strong>
														<u>Menuiserie, placards et am&eacute;nagement</u>
													</strong>
												</span>
											</a>
										</li>
										<li>
											<a class="inherit-links" href="{{path('isolation')}}">
												<span style="color:null;">
													<strong>
														<u>Isolation</u>
													</strong>
												</span>
											</a>
										</li>
										<li>Syst&egrave;me de climatisation</li>
										<li>Travaux de jardinage</li>
										<li>Am&eacute;nagement ext&eacute;rieur</li>
									</ul>
								</article>
							</div>
						</div>
						<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254015">
							<p>Nous sommes &eacute;galement marchands de biens avec notre partenaire
								<strong>SCI VLA IMMO</strong>
								situ&eacute;e &agrave;
								<strong>Nice</strong>.</p>
						</article>
						<div class="col-md-12 wt-container-1194447" id="wt-container-instance-4254025">
							<div class="col-md-5 col-md-offset-6 wt-container-1195565" id="wt-container-instance-4257474">
								<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4254024">
									Nos engagements
								</h3>
								<article class="col-md-12 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254026">
									<p>Soucieux de vous apporter un service digne de confiance et pour l&rsquo;am&eacute;lioration de votre confort au quotidien, nous vous garantissons :</p>

									<p>&nbsp;</p>

									<ul>
										<li>Des prestations sur-mesure</li>
										<li>Un travail minutieux</li>
										<li>Des conseils avis&eacute;s</li>
										<li>Un accompagnement tout au long votre projet</li>
										<li>Un devis d&eacute;taill&eacute;</li>
									</ul>
								</article>
							</div>
						</div>
						<h3 class="col-md-12 wt-container-1194430" id="wt-container-instance-4254028">
							Zone d&rsquo;intervention
						</h3>
						<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254030">
							<p>Disponibles et r&eacute;actifs, nos<strong>
									artisans multiservices dans les</strong>
								<strong>Alpes-Maritimes</strong>
								sont en mesure d&#39;intervenir&nbsp;dans le
								<strong>Var</strong>
								et dans un rayon de 150 km autour de
								<strong>Nice,</strong>
								particuli&egrave;rement &agrave;&nbsp;:</p>
						</article>
						<div class="col-md-12 col-md-offset-0 wt-container-1194450" id="wt-container-instance-4254058">
							<div class="col-md-4 col-md-offset-0 wt-container-1194451" id="wt-container-instance-4254059">
								<article class="col-md-12 col-md-offset-0 wt-container-1181496" id="wt-container-instance-4254060">
									<ul>
										<li>Cagnes-sur-Mer</li>
										<li>Antibes</li>
										<li>Menton</li>
										<li>Monaco</li>
										<li>Saint-Laurent-du-Var</li>
									</ul>
								</article>
							</div>
							<div class="col-md-4 col-md-offset-0 wt-container-1194452" id="wt-container-instance-4254061">
								<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254062">
									<ul>
										<li>Beausoleil</li>
										<li>Cannes</li>
										<li>Fr&eacute;jus</li>
										<li>Saint-Rapha&euml;l</li>
										<li>Roquebrune-sur-Argens</li>
									</ul>
								</article>
							</div>
							<div class="col-md-4 col-md-offset-0 wt-container-1194453" id="wt-container-instance-4254063">
								<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254064">
									<ul>
										<li>Draguignan</li>
										<li>Digne-les-Bains</li>
										<li>Sainte-Maxime</li>
										<li>Mouans-Sartoux</li>
										<li>Vallauris</li>
									</ul>
								</article>
							</div>
						</div>
						<article class="col-md-12 wt-container-1181496" id="wt-container-instance-4254067">
							<p>Demandez votre
								<strong>
									<u>
										<a class="inherit-links" href="{{path('contact')}}">devis</a>
									</u>
								</strong>
								gratuitement&nbsp;!</p>

							<p>Pour toute de demande d&rsquo;information compl&eacute;mentaire, contactez notre entreprise de r&eacute;novation
								<a class="inherit-links" href="{{path('contact')}}">
									<span style="color:#000000;">
										<strong>
											<u>JPS R&eacute;novation</u>
										</strong>
										<u>
											<strong>&agrave; Nice</strong>
										</u>
									</span>
								</a>.</p>
						</article>
					</div>
				</div>
		
	{% endblock %}